<div id="show-lists" class="row">
  <div class="large-12 columns">
    <div class="panel">



      <form id="question_create_form" action="/surveys/<%=@survey.id%>/questions" method="POST">

        <%= erb :'questions/_add' %>

      </form>



      <a href="/surveys">Save Survey</a>
    </div>
  </div>
</div>
