<div id="show-lists" class="row">
  <div class="large-12 columns">
    <div class="panel">





        <%= erb :'questions/_add' %>





      <a href="/surveys">Save Survey</a>
    </div>
  </div>
</div>
