.row {
  margin-top: 10%;
/*  height: 25em;*/
}

.row a {
  margin-left: 5.5em;
}

.row div {
display: grid;
}

.row div div a {
  margin-left: auto;
  margin-right: auto;
}

#login {
  background-color: red
}

#show-lists {
  margin-bottom: 6em;

}

#surv {
  height: 12em;
}

#surv a {
  margin-left: 3em;
}

#right {
  text-align: center;
}




.rad {
  display: block;
  margin-left: 1.5em;

}

.spacer {
  width: 2em;
  margin-left: 1.25em;
}



