
<ul id="survey-in-progress"><br>

  <li>
    <input type="radio" name="choice" /><span class="space"><%=question.choices[0].title%></span>
  </li>

  <li>
    <input type="radio" name="choice" /><span class="space"><%=question.choices[1].title%></span>
  </li>
<br>
  <li>
    <input type="submit" value="submit"/>
  </li>



</ul>

