<div id="show-lists" class="row">
  <div class="large-12 columns">
    <div class="panel">

<span class="my-font">
      <h3>Which survey would you like to slay?</h3><br>
    </span>

      <%@surveys.each do |survey|%>

          <a href="/participants/survey/<%=survey.id%>" >
            <%=survey.title%>
          </a><br>

      <%end%>








    </div>
  </div>
</div>
