

  <div id="show-lists" class="row">
    <div class="large-12 columns">
      <div class="panel">



          <h2><%=@survey.title%></h2><br>







            <form action="/participants/survey/<%=@survey_id%>/response" method="post">


              <%= erb :'/participants/_next' %>

              <input type="submit" value="submit"/>
                    </form><br>





      </div>
    </div>
  </div>


