





    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3>Wecome to Survey Slayer</h3>
          <p>It's a place where you can make surveys and take surveys. All you need to do is sign in or create a new account!</p>
         </p>
          <div class="row">
            <div class="large-4 medium-4 columns">
          <p>        <a href="/login" class="small radius button">Sign In</a>
<br />Sign in to your existing account to take surveys and create new ones!</p>
        </div>

            <div class="large-4 medium-4 columns">
              <p>        <a href="/users/new" class="small radius button">Sign up</a><br />Create a new account to get started, you'll be making surveys in no time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


