
  <div class="row">
    <div class="small-4 large-4 columns"><br></div>
    <div class="small-4 large-4 columns">
    <fieldset>
      <form action="/users" method="post">


          <legend>Create your account</legend>
          <label>Name
            <input type="text" name="user[name]" value="<%@user.name%>" />
          </label>
          <label>Email
            <input type="text" name="user[email]" value="<%@user.email%>" placeholder="Ru@paul.com" />
          </label>

          <label>Password
            <input type="password" name="user[password]" value="<%@user.password_hash%>" />
          </label>

          <input type="submit" value="submit"/>

          <!-- a href="#" class="medium success button">Create Account</a> -->


      </form>
     </fieldset>
    </div>
    <div class="small-4 large-4 columns"></div>
  </div>
