


<div class="row">

    <div class="panel">
      <h2>Make or Take a Survey!</h2>
        <div class="large-4 medium-4 columns">
         <a href="/my_surveys" class="small radius button">My surveys</a>
         <br />
       </div>


        <div class="large-4 medium-4 columns">
         <a href="/available_surveys" class="small radius button">Take a Survey!</a>
         <br />
       </div>

       <div class="large-4 medium-4 columns">
        <a href="/surveys/new" class="small radius button">Create a New Survey!</a><br />

     </div>
   </div>
 </div>

</div>

